@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;	
}

.dangerousContent {
    color: black;
    font-size: 26px;
    text-align: center;
}

.centeredContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.dangerousContent em{
    color: red;
    font-style: normal;
    margin-left: 10px;
}

.explanation {
    font-size: 16px;
}

#url-display {
    color: black;
    font-size: 30px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.dangerousSymbol{
    color: red;
}

.message-box {
    background-color: rgba(173, 216, 230, 0.4); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    display: none;
    position: absolute;
    padding-top: 15px;
    height: 20px;
    z-index: 9999;
    border-radius: 5px;
}

.close-button {
    color: black;
    background: none;
    position: absolute;
    top: 1px;
    right: 3px;
    border: none;
    cursor: pointer;
}

.collapsible {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    width: calc(50% - 20px);
    border: 1px ;
    vertical-align: top;
    border-radius: 12px;
}

.collapsible-btn {
    color: black;
    background-color: #B9B9B9;
    font-size: 18px;
    text-align: center;
    padding: 13px;
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 12px 12px 0 0;
}

.show, .collapsible-btn:hover {
    background-color: #999999;
}

.collapsible-btn:after {
    color: white;
    font-weight: bold;
    float: right;
    content: '\002B';
}

.show:after {
    content: '\2212';
}

.collapsible-con {
    background-color: #D9D9D9;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 18px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    box-sizing: border-box;
    border-radius: 0 0 12px 12px;
}

#buttons {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

button[id^="dangerButton"],
button[id^="safetyButton"] {
    color: white;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

#dangerButton {
    background-color:#c91c1c;
    position: absolute;
    left: 20px;
}

#safetyButton {
    background-color: #3F8CEC;
    position: absolute;
    right: 20px;
}